<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/mystyle.css">
    <link rel="stylesheet" href="/searchBar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="/searchBar.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Geo:ital@0;1&family=Lexend+Peta:wght@100..900&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="/searchBar.js"></script>
    <title>Nuovo Prodotto</title>
</head>
<body>
<nav class="navbar navbar-expand-lg custom-btn navbarcc">
    <div class="container-fluid">
        <a class="btn navbar-text" href="/">Tin</a>
        <div class="d-flex align-items-center mx-auto">
            <div class="input-group-append">
                <span class="input-group-text filter-icon"><i class="fas fa-filter"></i></span>
            </div>
            <div style="width: 10px; height: 1px; visibility: hidden;"></div>
            <input type="text" id="searchInput" class="form-control elForm" name="Ricerca" placeholder="Ricerca">
            <div style="width: 10px; height: 1px; visibility: hidden;"></div>
            <select id="categorySelect" class="form-control hidden">
                <option value="0">Categorie</option>
                <option th:each="category : ${categories}" th:value="${category.getNome()}" th:text="${category.getNome()}"></option>
            </select>
            <div class="input-group-append">
                <span class="input-group-text filter-icon" id="searchBtn"><i class="fas fa-search"></i></span>
            </div>
        </div>
        <div th:if="${#authorization.expression('isAuthenticated()')}" class="d-flex align-items-center">
            <span class="mr-3 text-white">Ciao, <span class="beigino" th:remove="tag" sec:authentication="name">thymeleaf</span></span>
            <div style="width: 10px; height: 1px; visibility: hidden;"></div>
            <button class="btn btn-link text-primary p-0" id="openModalLogOut">
                <i class="fas fa-sign-out-alt text-white"></i>
            </button>

        </div>
    </div>
</nav>

<div id="main">
    <h1 class="labelTitoli">Nuovo prodotto:</h1>
</div>


<div class="formModPercCard">
    <form class="float elForm" th:action="@{/protected/aggiungiProdotto}" method="POST" enctype="multipart/form-data">
        <div class="nuovoProdWrapper">
            <div class="nuovoProdLeft">
                <label class="labelTitoli2">Immagini:</label>
                <br>
                <input class="form-control" type="file" id="formFile1" name="img1" accept="image/*">
                <div style="width: 1px; height: 66px; visibility: hidden;"></div>
                <input class="form-control" type="file" id="formFile2" name="img2" accept="image/*">
                <div style="width: 1px; height: 66px; visibility: hidden;"></div>
                <input class="form-control" type="file" id="formFile3" name="img3" accept="image/*">
                <br>
            </div>
            <div class="nuovoProdCenter">
                <label class="labelTitoli2">Nome: </label>
                <br>
                <input type="text" class="form-control elForm" name="name" th:required="required" placeholder="Nome">
                <br>
                <label class="labelTitoli2">Descrizione:</label>
                <br>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="description" th:required="required" placeholder="Descrizione" rows="4" maxlength="200"></textarea>
                <br>
            </div>
            <div class="nuovoProdRight">
                <label class="labelTitoli2">Categoria: </label>
                <select id="drop1" name="categoria1">
                    <option class="option" th:each="category : ${categories}" th:value="${category.getNome()}" th:text="${category.getNome()}"></option>
                </select>
                <br><br>
                <label class="labelTitoli2">Prezzo: </label>
                <br>
                <input type="number" class="form-control date elForm" id="price" name="price" step="0.01" min="0" th:required="required" placeholder="Prezzo">
                <br>
            </div>
        </div>
        <button type="submit" class="btn custom-btn submit text-white">Aggiungi prodotto</button>


        <br>
        <br>

    </form>
</div>

<div class="modal fade" id="logOutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title textModelTitle" id="exampleModalLabel" >Log Out</h5>
            </div>
            <div class="modal-body textModelBody">
                Vuoi eseguire il log out?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn custom-btn text-white" data-dismiss="modal">No</button>
                <form th:action="@{/logout}" method="post" class="my-2 my-lg-0">
                    <button type="submit" class="btn custom-btn-elimination text-white">Si</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function(){
        $("#openModalLogOut").click(function(){
            $("#logOutModal").modal('show');
        });
    });
</script>

</body>
</html>
