<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>TIN</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/searchBar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/mystyle.css">
    <script src="/searchBar.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbarcc">

    <div class="container-fluid">
        <a class="navbar-brand" href="/">TIN</a>
        <div class="d-flex align-items-center mx-auto">
            <div class="input-group">
                <input type="text" id="searchInput" class="form-control elForm" name="Ricerca" placeholder="Ricerca">
                <div class="input-group-append">
                    <span class="input-group-text filter-icon"><i class="fas fa-filter"></i></span>
                </div>
            </div>
            <select id="categorySelect" class="form-control hidden">
                <option value="0">Categorie</option>
                <option th:each="category : ${categories}" th:value="${category.getId()}" th:text="${category.getNome()}"></option>
            </select>
            <button class="btn btn-outline-success" style="margin-left: 5px; padding: .457rem .70rem;" type="button"><i class="fas fa-search"></i></button>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <div class="mr-3">Ciao, <span th:remove="tag" sec:authentication="name">thymeleaf</span></div>
                <form th:action="@{/logout}" method="post" class="form-inline my-2 my-lg-0">
                    <button class="btn btn-link text-primary p-0" type="submit">
                        <i class="fas fa-sign-out-alt"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

</nav>

<div id="main">
    <h1 class="text">Benvenuto</h1>
</div>

<div class="formModPercCard">
    <form class="float elForm" th:action="@{/}" method="POST">
        <label class="text1Form">Username: </label>
        <br>
        <input type="text" class="form-control elForm" name="username" th:required="required" placeholder="Username">
        <label class="text1Form">Password:</label>
        <br>
        <input type="password" class="form-control elForm" name="password" th:required="required" placeholder="Password">
        <div style="color: red; font-size: small; margin: 15px 0">
            <div th:if="${param.error}">
                Nome utente o password non valida.
            </div>
            <div th:if="${param.logout}">
                Hai effettuato il logout.
            </div>
        </div>
        <button type="submit" class="btn btn-primary submit">Accedi</button><br>

        <a class="textDesc" style="font-size: medium" th:href="@{/registrazione}">Registrazione?</a>
    </form>
</div>

</body>
</html>