<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TIN</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/mystyle.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbarcc">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">TIN</a>
        <!-- Spazio vuoto per far spostare l'input di ricerca al centro -->
        <div class="d-flex mx-auto">
            <!-- Input di ricerca -->
            <input type="text" class="form-control elForm" name="Ricerca" placeholder="Ricerca">
            <!-- Eventuali bottoni per eseguire la ricerca -->
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
    </div>
</nav>

<div id="main">
    <h1 class="text">Benvenuto</h1>
</div>

<div class="formModPercCard">
    <form class="float elForm" th:action="@{/}" method="POST">
        <label class="text1Form">Username: </label>
        <br>
        <input type="text" class="form-control elForm" name="username" th:required="required" placeholder="Username">
        <label class="text1Form">Password:</label>
        <br>
        <input type="password" class="form-control elForm" name="password" th:required="required" placeholder="Password">
        <div style="color: red; font-size: small; margin: 15px 0">
            <div th:if="${param.error}">
                Nome utente o password non valida.
            </div>
            <div th:if="${param.logout}">
                Hai effettuato il logout.
            </div>
        </div>
        <button type="submit" class="btn btn-primary submit">Accedi</button><br>

        <a class="textDesc" style="font-size: medium" th:href="@{/registrazione}">Registrazione?</a>
    </form>
</div>
</body>
</html>