<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

    <title>Dropdown with Custom Font</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

    <!-- Includi il tuo CSS personalizzato -->
    <style>
        #drop {
            font-family: 'Helvetica', sans-serif; /* Specifica il tipo di carattere desiderato */
            width: 340px;
            height: ;
        }
    </style>
</head>
<body>

<select id="drop" name="categoria1">
    <option value="ELETTRONICA">ELETTRONICA</option>
    <option value="ABBIGLIAMENTO">ABBIGLIAMENTO</option>
    <option value="CASA">CASA</option>
    <option value="LIBRI">LIBRI</option>
    <option value="MEDIA">MEDIA</option>
    <option value="BAMBINI">BAMBINI</option>
    <option value="ANIMALI">ANIMALI</option>
    <option value="HOBBY">HOBBY</option>
</select>

</body>
</html>
